{{ define "content" }}

<h1>
    Projects
</h1>

<div class="projects">
    {{ $pages := where .Site.RegularPages "Type" "projects" }}

    <h2>
        Pinned
    </h2>

    {{ partial "project-cards" (where (where $pages "Params.project_type" "Major project"  ) "Params.active" true  )}}

    <h2>
        All
    </h2>

    {{ range sort ($pages.GroupByParam "year") "Key" "desc" }}
    <div class="project-group">
        <h3>{{ .Key }}</h3>
        {{ partial "project-cards" .Pages }}
    </div>
    {{ end }}

</div>

{{ end }}