.projects {
  margin-bottom: 10px;

  .anchor {
    text-decoration: none;
    color: inherit;
  }

  .project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project-card.inactive {
    opacity: 0.5;
  }

  .project-card {
    border: 1px solid #7a7a7a;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    justify-content: start;

    margin: 10px;

    max-width: calc(300px - 2 * 10px);
    overflow-wrap: break-word;

    > * {
      margin: 5px 0;
    }

    .logo {
      img {
        width: calc(300px - 2 * 10px);
        height: 100px;
        object-fit: contain;
        object-position: 50% 50%;
      }
    }

    .title {
      min-height: 20px;
      font-weight: bold;

      .type {
        font-size: smaller;
        font-style: normal;
      }
    }

    .no-logo {
      min-height: calc(50px + 100px + 2 * 5px);
    }

    .description {
      p {
        margin: 0;
      }
      flex-grow: 1
    }

    .links {
     
    }
  }
}
