{{ define "main" }}

<article>
  <div class="gallery-title">
    {{ .Title }}
  </div>

  <div class="gallery-content">
    {{ .Content }}
  </div>

  <div class="gallery">
    {{ range .Page.Resources.ByType "image" }}
     {{ $full := . }}

    <a href="{{ $full.RelPermalink }}">
      <div class="element">
        <img
          src="{{ $full.RelPermalink }}"
          srcset="{{ ($full.Resize "480x webp").RelPermalink }} 480w, 
                  {{ ($full.Resize "960x webp").RelPermalink }} 960w"
          sizes="((max-width: 960px)) 480px, ((max-width: 1920px)) 960px"
          alt="{{ $full.Title }}"
        />
        <div class="caption">
          <p>{{ $full.Title }}</p>
          <a href="{{ $full.RelPermalink }}"></a>
        </div>

        {{/* with $image.Exif }} Date: {{ .Date }} Lat/Long: {{ .Lat}}/{{ .Long
        }} Tags: {{ range $k, $v := .Tags }} TAG: {{ $k }}: {{ $v }} {{ end }}
        {{ end */}}
      </div>
    </a>
    {{ end }}
  </div>
</article>

{{ end }}
