:root {
  --primary-color: #536dfe;
  --primary-dark-color: #0043ca;
}

body {
  font-family: "Roboto", "sans";
  line-height: 1.6;
  font-size: 16px;
  color: #444;
  margin: 0;
}

.wrapper {
  margin: 40px auto;
  max-width: 750px;
  padding: 0 10px;
}

a {
  border-bottom: 3px solid var(--primary-color);
  color: inherit;
  text-decoration: none;  

  &:hover {
    border-bottom: 3px solid  var(--primary-dark-color);
    background:  var(--primary-dark-color);
    color: #fff;
  }
}

article, .projects, .article-contact {
  a {
    border-bottom: 1px solid  var(--primary-color);
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
  font-family: "Roboto", "sans";
}

div.header {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 8px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid;

  .title {
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
  }
}

.header-menu {
  margin-top: auto;

  > a {
    margin-right: 5px;
  }
}

.post-meta-date {
  color: #7a7a7a;
}

.footer {
  border-top: 1px solid;
  text-align: center;

  > * {
    margin-top: 10px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  padding-right: 5rem;
  padding-left: 1.25rem;
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5;
}

article {
  overflow-wrap: break-word;
}

code {
  background-color: #f8f8f8;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;

  td,
  th {
    margin: 4px 5px;
  }

  tr {
    border-bottom: 1px solid black;
  }
}

thead {
  border-bottom: 1px solid black;
}

table {
  tr:last-child {
    border-bottom: none;
  }

  thead {
    border-bottom: 1px solid black;

    th {
      font-family: "Roboto", "sans";
      font-size: 15px;
      font-weight: bold;
    }
  }
}

ul.content-list {
  list-style: none;
  padding: 0;

  li {
    margin: 5px 0;
  
    &:before {
      margin-right: 5px;
      color:   var(--primary-color);
      content: '# ';
    }
  }
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  > *:not(:last-child) {
    margin-right: 50px;
  }
}

.inline-svg {
  height: 20px;
  width: 20px;
  object-fit: contain;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

/* Fix formatting of code blocks if there is only a single line */
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0 0.4em 0 0.4em;
  margin-right: 0.4em;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0 0.4em 0 0.4em;
  margin-right: 0.4em;
  border: 0;
  width: auto;
  overflow: auto;
  display: block;
}
/* LineNumbersTable */
.chroma .lnt {
  margin: 0;
  padding: 0;

  user-select: none;
}
/* LineNumbers */
.chroma .ln {
  margin: 0;
  padding: 0;

  user-select: none;
}
