<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ cond .IsPage (cond (eq (len .Description) 0) .Summary .Description) .Site.Params.Description }}">
    {{/*  <meta name="description" content="{{ cond (isset . "Description") .Description .Site.Params.Description }}">  */}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.Author }}" />

    {{ if .IsPage }}
    <meta name="dc.identifier" content="blog-article/{{ substr (sha256 .Slug) 0 8 }}">
    <meta name="dc.relation.ispartof" content="{{ .Site.Params.dublinCoreMetadataPartOf }}">
    {{ end }}

    <meta http-equiv="Content-Security-Policy" content="
        default-src 'self' 'unsafe-inline' https://hypothes.is https://cdn.hypothes.is;
        script-src 'self' 'unsafe-inline' https://hypothes.is https://cdn.hypothes.is; 
        style-src 'self' 'unsafe-inline' https://hypothes.is https://cdn.hypothes.is;
        img-src 'self' data: blob: 'unsafe-inline';
        object-src 'none';
    ">
    
    <title>
        {{- block "title" . -}}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
        {{- end -}}
    </title>

    {{ $styles := resources.Get "css/style.scss" | resources.ToCSS | minify -}}
    {{ $syntax := resources.Get "css/syntax.css" | minify -}}
    {{ $galleries := resources.Get "css/galleries.scss"  | resources.ToCSS | minify -}}
    {{ $fonts := resources.Get "css/fonts.css" | minify -}}
    {{ $projects := resources.Get "css/projects.scss"  | resources.ToCSS | minify -}}

    <style>
        {{- $syntax.Content | safeCSS -}}
        {{- $styles.Content | safeCSS -}}
        {{- $galleries.Content | safeCSS -}}
        {{- $fonts.Content | safeCSS -}}
        {{- $projects.Content | safeCSS -}}
    </style>

    {{ $pageTitle := .Site.Title }}

    {{ with .OutputFormats.Get "RSS" }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $pageTitle }}" />
    {{ end }}

    {{ partial "head_custom" . }}
</head>
